<div class="container">
  <div class="card card-container">
    <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
    <p id="profile-name" class="profile-name-card"></p>
    <form {{action 'login' on='submit'}} class="form-signin">
      <span id="reauth-email" class="reauth-email"></span>
      {{input
      value=identification
      class="form-control"
      id="inputEmail"
      required=true
      autofocus=true
      placeholder="Email address"}}

      {{input
      type="password"
      value=password
      class="form-control"
      id="inputPassword"
      required=true
      placeholder="Password"}}

      <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Sign in</button>
      {{#link-to 'signup' class='signup-link'}}Create an account{{/link-to}}
      </form><!-- /form -->
  </div><!-- /card-container -->
</div><!-- /container -->
