{{#unless session.isAuthenticated}}
<div class="text-center">
  <a class="btn btn-primary btn-lg" href="#" data-toggle="modal" data-target="#login-modal">Login</a>
</div>
<div class="text-center">
  {{#link-to 'signup' class='btn btn-primary btn-lg'}}Signup{{/link-to}}
</div>
{{/unless}}

<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
  <div class="modal-dialog">
    <div class="loginmodal-container">
      <h1>Login to Your Account</h1><br>
      {{#if loginError}}
      <div class="alert alert-danger">Invalid email/password</div>
      {{/if}}

      <form {{action 'login' on='submit'}} class="form">
        <div class="form-group">
          {{input
          value=identification
          class="form-control"
          placeholder="Email address"}}
        </div>

        <div class="form-group">
          {{input
          type="password"
          value=password
          class="form-control"
          placeholder="Password"}}
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
      </form>
    </div>
  </div>
</div>
