<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      {{#link-to 'courses.index' class="btn btn-primary"}}List all{{/link-to}}
    </div>
  </div>
  {{model.name}}
  <ul class="list-group-item">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Distance</th>
          <th scope="col">Par</th>
        </tr>
      </thead>
      <tbody>
        {{#each sortedHoles as |hole|}}
          <tr>
            <td>{{hole.number}}</td>
            <td>{{hole.distance}}</td>
            <td>{{hole.par}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </ul>
</div>

