<div class="container m-y-3">
  <div class="row header">
    <div class="col-sm-6">
      <h1>blog</h1>
    </div>
    <div class="col-sm-6">
      {{login-form}}
    </div>
  </div>
</div>

{{#link-to 'users'}}Users{{/link-to}}
{{outlet}}
